.content-footer-button{
    width: 100%;
    height: 75px;    
    background: var(--principal);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.content-footer-button a{
    font: var(--headLine4);
    color: var(--white);
    text-decoration: none;
}

.content-footer-button:hover{
    background-color: var(--cardbgHeader);
}