.Duck{
    margin-block-start: 118px;
}

.Duck-content-img {
    margin-inline-end: 20px;
    text-align: center;
}

.Duck-content-img img{
    width: 100%;
} 
 
 
 .Duck-content-text-title{
    color: var(--principal);
    font: var(--headLine3);
    text-align: center; 
    margin-block-end: 75px;
    margin-block-start: 75px;
 }

 .Duck-content-text-body{
     font: var(--body2);
 }


 @media only screen and (min-width: 768px){
     .Duck-content{
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
        
     }
     .Duck-content-text{
         order: -1;
         display: flex;
         flex-direction: column;
         width: 80%;

     }
     
     .Duck-content-img img{
         width: 100%;
     }
     .Duck-content-text-title{
        font: var(--headLine2);
        text-align: left;
        padding-inline-start: 0;
        margin-inline-start: 0;
        margin-block-end: 10px;
        margin-block-start:10px;
     }
     

 }

 
@media only screen and (min-width: 1366px){
    .Duck-content-text{
        padding-inline-end: 40px;
        text-align: left;
    }
    .Duck-container{
        margin-block-end: 120px;
    }
}