.hero{
    padding-block-start: 16px;
    background: var(--gradient);
}
.hero-container{
   
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.hero-content .hero-img{

}
.hero-content .hero-img img {
    padding-inline-start: 0;
    padding-inline-end:0;
    padding-block-start: 0;
    padding-block-end: 0;
    max-inline-size: 100%;
}


.hero-content .hero-text {
    
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}
.hero-content .hero-text .hero-title{

    font: var(--headLine5);
  
}
.hero-content .hero-text .hero-card{
   
}

