

.Learn-content-title{
    color: var(--principal);
    text-align: center;
    margin-block-end: 60px;
}

.Learn-content-title p{ 
    font: var(--headLine4);
    margin-block-start: 28px;
    margin-block-end: 0;
}

.Learn-content-title h2{
    font: var(--headLine2);
    margin-block-start: 0;
    margin-block-end: 0;
}
.Learn-content-body-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.SkillsItem-container{
    text-align: center;
    margin-block-start:75px ;
    margin-block-end: 75px;
    
}

@media only screen and (min-width: 768px){
    .Learn-content-body-img{
        margin-inline-start: auto;
        margin-inline-end: auto;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

}

