.Header{
 background: var(--white);
}

.Header-nav{
    text-align: center;
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.Header-nav ul{    
       display: flex;
       list-style: none;
       gap: 40px;
       display: none;
}

.Header-nav ul a{
    text-decoration: none;
    font: var(--button);
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}

.Header-nav ul a:hover{
    color: var(--principal);
}
@media only screen and (min-width: 768px){
    .Header-nav{
        display: flex;
        justify-content: space-between;
        position: -webkit-sticky;
	    position: sticky;
	    top: 0;
    }
    
    .Header-nav ul{
        margin-inline-end: 0;
        display: block;
        display: flex;
        flex-direction: row; 
        font: var(--body1);
        gap:15px;
        margin-inline-end: 25px;
    }

    .nav .content-footer-button{
        height: 20px;
    }
    
}