 .Testimony-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }
 .Testimony-content-title{
    color: var(--principal);
    font: var(--headLine2);
    text-align: center; 
    margin-block-end: 75px;
    margin-block-start: 75px;
 }


.Testimony-card-text{
    width: 100%;
    height: 368px;
    background: var(--cardbg2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: var(--headLine5);
    margin-block-start: 24px;
    margin-block-end: 55px;
}

.primary{
    background-color: var(--principal);
}

.Testimony-card-text p{
    padding: 10px;
}

.Testimony-card-footer-avatar{
    margin-block-end: 48px;
}
.Testimony-card-footer-avatar-name{
    font: var(--label);
}



@media only screen and (min-width: 768px){
    .Testimony-content{ 
        flex-direction: row;
        justify-content: space-between;
    }
    .Testimony-card-content{
        font: var(--headLine6);
    }
    .Testimony-content-title{
        margin-block-end: 100px;
        margin-block-start: 100px;
    }
    .Testimony-card-text{
        width: 250px;
        font: var(--label);
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .primary{
        background-color: var(--principal);
        box-shadow:  1px 4px 5px 2px rgba(0, 0, 0, 0.20);
    }
    
    
} 


@media only screen and (min-width: 1366px){
    .Testimony-card-text{
        width: 368px;
    }
}